Source: plasma-framework
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.0.0),
               kdoctools-dev (>= 5.0.0),
               kio-dev (>= 5.0.0),
               kross-dev (>= 5.0.0),
               libkf5activities-dev (>= 5.0.0),
               libkf5archive-dev (>= 5.0.0),
               libkf5attica-dev (>= 5.0.0),
               libkf5auth-dev (>= 5.0.0),
               libkf5bookmarks-dev (>= 5.0.0),
               libkf5codecs-dev (>= 5.0.0),
               libkf5completion-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5configwidgets-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5crash-dev (>= 5.0.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5declarative-dev (>= 5.0.0),
               libkf5dnssd-dev (>= 5.0.0),
               libkf5globalaccel-dev (>= 5.0.0),
               libkf5guiaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 5.0.0),
               libkf5iconthemes-dev (>= 5.0.0),
               libkf5idletime-dev (>= 5.0.0),
               libkf5itemmodels-dev (>= 5.0.0),
               libkf5itemviews-dev (>= 5.0.0),
               libkf5jobwidgets-dev (>= 5.0.0),
               libkf5kjs-dev (>= 5.0.0),
               libkf5notifications-dev (>= 5.0.0),
               libkf5parts-dev (>= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5solid-dev (>= 5.0.0),
               libkf5sonnet-dev (>= 5.0.0),
               libkf5texteditor-dev (>= 5.0.0),
               libkf5textwidgets-dev (>= 5.0.0),
               libkf5threadweaver-dev (>= 5.0.0),
               libkf5unitconversion-dev (>= 5.0.0),
               libkf5wallet-dev (>= 5.0.0),
               libkf5widgetsaddons-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               libkf5xmlgui-dev (>= 5.0.0),
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libsm-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxcb-shape0-dev,
               openbox,
               pkg-config,
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquick1-5-dev,
               qtscript5-dev,
               qttools5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/plasma-framework
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/plasma-framework
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/plasma-framework

Package: plasma-framework-dev
Architecture: any
Section: libdevel
Depends: libkf5plasma5 (= ${binary:Version}),
         libkf5plasmaquick5 (= ${binary:Version}),
         ${misc:Depends}
Description: development files for plasma-framework
 Plasma library and runtime components based upon KF5 and Qt 5.
 .
 Contains development files for plasma-framework.

Package: plasma-framework
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: plasma-framework5
Replaces: plasma-framework5
Description: Plasma Runtime components
 Plasma library and runtime components based upon KF5 and Qt 5.

Package: libkf5plasmaquick5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Runtime components
 Plasma library and runtime components based upon KF5 and Qt 5.

Package: libkf5plasma5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Runtime components
 Plasma library and runtime components based upon KF5 and Qt5.

Package: plasma-framework-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Breaks: plasma-framework5-dbg
Replaces: plasma-framework5-dbg
Depends: ${misc:Depends},
 libkf5plasma5 (= ${binary:Version}),
 libkf5plasmaquick5 (= ${binary:Version})
Description: Plasma Runtime components - debug symbols
 Plasma library and runtime components based upon KF5 and Qt 5.
 .
 Contains debug symbols for plasma-framework.
